.card{
    box-shadow: 1px 1px 5px #ccc;
    background-color: white;
    padding: 30px;
    border: 5px;
}
.info{
    width: 80%;
    margin: auto;
}
label{
    display: block;
    text-align: justify;
}
.info_dado{
    padding-top: 7px;
    font-weight: bold;
    font-size: 16px;
    font-family: arial, sans-serif;
    color: black;
}
.info_titulo{
    padding-top: 7px;
    font-weight: bold;
    font-size: 20px;
    font-family: arial, sans-serif;
    color: black
}
#anexo{
    padding-top: 7px;
    font-weight: bold;
    font-size: 16px;
    font-family: arial, sans-serif;
    color: black;
    text-decoration: underline
}